/*
    1.0 - Layout
    2.0 - Color
    3.0 - Header
    4.0 . Navigation
    5.0 - Main
    5.1 - Tables
    5.2 - Forms
    5.3 - Typography
    5.4 - Articles
    5.5 - Sections
    5.6 - Lists
    6.0 - Footer
*/


/*   RESET   */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*    /RESET      */


/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* 1.0 Layout --------------------------------------------------------------------------------------------------------------------------------------------------------- */
#container
{
    max-width: 1200px;
    margin: auto;
    font-size: 0;
}

header
{
    width: 100%;
}



nav
{
    display: inline-block;
    width: 18%;
    vertical-align: top;
    min-width: 110px;
}

main
{
    display: inline-block;
    vertical-align: top;
    width: 82%;
}

footer
{
    display: block;
}

/* 2.0 Color --------------------------------------------------------------------------------------------------------------------------------------------------------- */
body
{
    background-color: #ffc473;
}
#container
{
    background-color: #ffffff;
}

header, footer
{
    background-color: #ff9400;
}

nav
{
    background-color: #ffae40;
}

main
{
    background-color: inherit;
}

a
{
    color: #a66000;
}

#mainMenu a
{
    color: #000000;
    background-color: #ffae40;
}
#mainMenu a.current
{
    background-color: #ffffff;
}
#mainMenu a:hover
{
    background-color: #a66000;
    color: #ffffff;
}

article

{
    background-color: #fff5ef;
}

th, tfoot
{
    background-color: #ffae40;
}


/* 3.0 Header --------------------------------------------------------------------------------------------------------------------------------------------------------- */

header h1
{
    font-size: 0px;
}
header
{
    background-image: url('../pics/header.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    height: 100px;
}

/*
header h1
{
    font-size: 60px;
    line-height: 90px;
    margin-left: 250px;
}
header
{
    background-image: url(../pics/logo.png);
    background-repeat: no-repeat;
    background-position: left center;
}
*/

/* 4.0 Navigation --------------------------------------------------------------------------------------------------------------------------------------------------------- */

#mainMenu a
{
    display: block;
    padding: 5px;
    text-align: right;
    text-decoration: none;
}
#mainMenu
{
    border-bottom-right-radius: 20px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* 5.0 Main --------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* 5.1 Tables --------------------------------------------------------------------------------------------------------------------------------------------------------- */
table,th,td
{
border: 1px solid #000000;
}

td
{
    padding: 5px;
}

/* 5.2 Forms --------------------------------------------------------------------------------------------------------------------------------------------------------- */
legend
{
    font-size: 20px;
    line-height: 30px;
}
label
{
    width: 5em;
    margin-right: 5px;
    text-align: right;
    display: inline-block;
    vertical-align: top;
}
button
{
    border:solid 1px #000000; 
    color:#000000;
    background-color: #ffaf40;
    border-radius:5px;
    margin-left: 90px;
}
input, select, textarea
{
    border: solid 1px #000000;
}

/* 5.3 Typography --------------------------------------------------------------------------------------------------------------------------------------------------------- */

body
{
    font-family: georgia, times, helvetica;
    line-height: 1.5;
}

#mainMenu a, h1, h2, h3, h4, h5, h6
{
    font-family: verdana, arial;
}

h1
{
    font-size: 28px;
}
h2
{
    font-size: 26px;
}
h3
{
    font-size: 24px;
}
h4
{
    font-size: 22px;
}
h5
{
    font-size: 20px;
}
h6
{
    font-size: 18px;
}

p, article, section, nav, footer
{
    font-size: 16px;
}

p
{
    margin-bottom: 5px;
}

/* 5.4 Articles --------------------------------------------------------------------------------------------------------------------------------------------------------- */


/*
Bråkade med nedanstående rader ett tag, fick först det att fungera med zoom: 0.15, men fick då klagomål på att zoom inte existerade, transform scale fungerade inte överhuvudtaget.
Hittade nedanstående som lösning på stackoverflow.. dynamiskt innehåll läggs tydligen in som en låda.. varför först lådans storlek måste anges.. och därefter bildens storlek i denna.
*/
article h2:first-child:before
{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    content: "";
    background: url('../pics/Pencil-icon.png') no-repeat 0 0;
    background-size: 100%;
}

/* overflow: hidden för att undvika att floats sträcker sig utanför tänkt article
   samt att höjden för article ska uppta hela höjden av en float.
*/
article
{
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    clear: both;
    word-wrap: break-word;
}

.left
{
    float: left;
    border: 2px solid #000000;
}

.right
{
    float: right;
    border: 2px solid #000000;
}

img, video
{
    max-width: 100%;
    margin:15px;
}

/* 5.5 Sections --------------------------------------------------------------------------------------------------------------------------------------------------------- */

section#results
{
    float: right;
}

section
{
    margin:10px;
    padding: 10px;
}

/* 5.6 Lists --------------------------------------------------------------------------------------------------------------------------------------------------------- */

dd 
{
    margin-left: 15px;
}

ol.numbered
{
    list-style-type: decimal;
    margin-left: 25px;
}

/* 6.0 Footer --------------------------------------------------------------------------------------------------------------------------------------------------------- */

footer
{
    text-align: right;
    padding: 10px;
}

@media screen and (max-width:640px)
{
    #mainMenu
    {
        font-size: 12px;
        background:none;
        width: 100%;
    }
    header
    {
        height: 50px;
    }
    #mainMenu li
    {
        display:inline-block;
    }
    #mainMenu a 
    {
        background-image: url('../pics/sprite.png');
        background-repeat:no-repeat;
        background-color: #ffffff;
        display: inline-block;
        height: 24px;
        padding-left: 27px;
    }
    #mainMenu a:hover
    {
        background-color: #ffffff;
        color: #000000;
    }
    #mainMenu li:first-child a
    {
        background-position: 0px 0px;
    }
    #mainMenu li:first-child a:hover
    {
        background-position: 0px -48px;
    }
    #mainMenu li:nth-child(3) a
    {
        background-position: 0px -96px;
    }
    #mainMenu li:nth-child(3) a:hover
    {
        background-position: 0px -144px;
    }
    #mainMenu li:nth-child(2) a
    {
        background-position: 0px -192px;
    }
    #mainMenu li:nth-child(2) a:hover
    {
        background-position: 0px -240px;
    }
    #mainMenu li:nth-child(4) a
    {
        background-position: 0px -288px;
    }
    #mainMenu li:nth-child(4) a:hover
    {
        background-position: 0px -336px;
    }
    
    /* löser overflow eftersom jag inte fått det att bli snyggt med marginaler. */
    img, video
    {
        max-width:80%;
    }
    
    /* översta width behövs eftersom width tidigare i dokumentet satts till 82% */
    main
    {
        width: 640px;
        width: 100%;
    }
    
}



@media screen and (max-width:480px)
{
    .left,.right,img, video
    {
        float: none;
    }
    
    h1
    {
        font-size: 24px;
    }
    h2
    {
        font-size: 22px;
    }
    h3
    {
        font-size: 20px;
    }
    h4
    {
        font-size: 18px;
    }
    h5
    {
        font-size: 16px;
    }
    h6
    {
        font-size: 14px;
    }
    
    p, article, section, nav, footer
    {
        font-size: 14px;
    }
    p
    {
        margin-bottom: 5px;
    }
    
}

@media screen and (max-width: 480px)
{
        input, select, textarea
    {
        display: block;
        float: none;
        text-align: left;
        width: 100%;
        height: 30px;
    }
    label
    {
        display: inline;
        float: none;
        text-align: left;
    }
    textarea
    {
        display: block;
        height: 200px;
    }
    button
    {
        width:100%;
        margin: 0;
        height: 40px;
    }
    input[type=checkbox]
    {
        display: inline-block;
        height: 40px;
        width: 40px;
    }
}
