/*
    1.0 - Layout
    2.0 - Color
    3.0 - Navigation
    4.0 - Content style
    4.1 - Tables
    4.2 - Forms
*/


/* 1.0 Layout */



/* 2.0 Color */



/* 3.0 Navigation */



/* 4.0 Content-styling */

/* 4.1 Tables */
table,th,td
{
border: 1px solid #000000;
}

/* 4.2 Forms */
label
{
    width: 5em;
    margin-right: 1em;
    text-align: right;
    display: block;
    float: left;
}


















/*
nav>ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav>ul>li
{
    display: inline-block;
}
*/