/*
    1.0 - Layout
    2.0 - Color
    3.0 - Header
    4.0 . Navigation
    5.0 - Main
    5.1 - Tables
    5.2 - Forms
    6.0 - Footer
*/


/*   RESET   */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*    /RESET      */


/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* 1.0 Layout */
#container
{
    max-width: 1200px;
    margin: auto;
}

header
{
    width: 100%;
}

body
{
    box-sizing: border-box;
}

/*
    Om main och nav tillsammans upptar 100% flyttas main ner, detta händer tydligen för att whitespace räknas med för inline element. Enda lösningen är font-size:0 på container och därefter återställa font-size överallt.
    Problemet kan också lösas genom att istället göra layouten med floats. Är det fel att lösa problemet med lösningen ovan? och hur går man isf tillväga om man vill ha mer än 2 kolumner?
    
    Så som jag vill färgsätta spelar det dock ingen större roll.
*/

nav
{
    display: inline-block;
    width: 18%;
    vertical-align: top;
    min-width: 100px;
}

main
{
    display: inline-block;
    vertical-align: top;
    width: 81%;
}

footer
{
    display: block;
}


/* 2.0 Color */
body
{
    background-color: #ffc473;
}
#container
{
    background-color: #ffffff;
}

header, footer
{
    background-color: #ff9400;
}

nav
{
    background-color: #bf8330;
}

main
{
    background-color: inherit;
}

a
{
    color: #a66000;
}

nav>ul>li>a
{
    color: #000000;
    background-color: #ffae40;
}
nav>ul>li>a.current
{
    background-color: #ffffff;
}
nav>ul>li>a:hover
{
    background-color: #a66000;
    color: #ffffff;
}


/* 3.0 Header */



/* 4.0 Navigation */

nav>ul>li>a
{
    display: block;
    padding: 5px;
    text-align: right;
}


/* 5.0 Main */

/* 5.1 Tables */
table,th,td
{
border: 1px solid #000000;
}

/* 5.2 Forms */
label
{
    width: 5em;
    margin-right: 1em;
    text-align: right;
    display: block;
    float: left;
}








/* 6.0 Footer */

footer
{
    text-align: right;
}













/*

header, nav, main, footer
{
    border: 1px solid #000000;
}

*/