body
{
    background-color: #a7917a;
}
a
{
    display: inline-block;
    padding: 15px;
    background-color: #ffffff;
    width: 240px;
    color: #000000;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
    margin: 5px;
}
img
{
    width: 240px;
}
main
{
    max-width: 1200px;
    margin: auto;
}
a:after
{
    content: attr(title);
}
section
{
    max-width: 900px;
    display: inline-block;
    border-right: 2px solid #a38e76;
}
aside
{
    width: 250px;
    display: inline-block;
    vertical-align: top;
}